footer h2 {
    text-align: center;
    margin: 10px 0 10px 0;
}

footer {
    margin-top: 20px;
    background-color: #242526;
}

/* screens */


@media (max-width: 480px) {
    footer h2 {
        font-size: 15pt;
    }
}
